# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.tmp.*
*.swp
._*
.svn
node_modules
bower_components
*.bak
istio-*

# Operating Systems
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*~
\#*\#

# Programming Languages
*.buckconfig
*.class
*.dll
*.jar
*.obj
*.war
*.so
*.pyc
*.pyo
*.dll
*.exe
*.pdb
*.a
*.dylib
*.ipch
*.lib
*.sbr
*.suo
*.exp
*.user
*.sln.docstates

# Build Tools
*.bbl
*.blg
*.out
*.dvi
*.log
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.bcf
*.run.xml
*.swp


/tmp/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.mypy_cache/
.pytest_cache/
.pyre/




# Visual Studio Code
.vscode/

# Visual Studio
*.sln
*.vcxproj
*.vcproj
*.pdb
*.idb
*.ipch
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.user
*.aps
*.vcxproj.filters



# Vim
*.swp
*.swo
*.swn
*.swm
*~

# Emacs
*~


# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CTestTestfile.cmake
Makefile
cmake_install.cmake


